html{
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  overflow: scroll !important;
}
html,a,h1,h2,h3,h4,h5{
  color: #2d2d2d !important;
}
.clean{
    padding:0px;
    margin:0px;
}
body{
  background-color: #f1f1f1;
  background-image: url('../../../resources/images/style_default/bg.jpg');
  padding:60px 50px 60px 50px;
  margin: auto auto;
}
.nav-color{
  padding:0px 20px 0px 20px;
  color: #ffffff !important;
  background-color: #2295a1 !important;
}
.nav-color a{
  color: #ffffff !important;
  font-size: inherit;
}
.line-gradient{
  background: #17656d;
  background: -moz-linear-gradient(0deg, #17656d, #34e3f5);
  background: -webkit-linear-gradient(0deg, #17656d, #34e3f5);
  -moz-background-origin: border;
  background-origin: border-box;
  height:6px;
}
.sections{
  font-size:12px; !important;
}
.sections a{
  color:#2295a1 !important;
}
.sections a:hover{
  text-decoration: none;;
}
.sections .current-section{
  color:#8d8d91 !important;
}
.sections .glyphicon{
  font-size:8px;
  margin:auto auto;
  text-align:center;
  vertical-align: middle;
  padding:0px 6px 3px 6px;
}
.sections .section{
  padding:0px 20px 20px 20px;
}
.footer-menu{
  color:#8d8d91;
}
.footer-menu >h1,h2,h3,h4,h5{
  font-weight: bold;
}
.footer-menu .list-menu{
  padding-top:18px;
}
.h4-gray{
  color:#d0d0d0 !important;
  font-weight: normal;
  margin-bottom:8px;
}

.underlined{
  border-bottom:1px solid #e3e3e3;
  margin: 6px 0px 14px 0px;
}

.right{
  text-align:right;
}

.form-bg
{
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(45, 45, 45, 0.30);
  -moz-box-shadow:    0px 1px 10px 0px rgba(45, 45, 45, 0.30);
  box-shadow:         0px 1px 10px 0px rgba(45, 45, 45, 0.30);
  margin-bottom:30px;
  padding:16px 0px 16px 0px;
  overflow:hidden;
}
